/*****************
General
******************/
body {
  padding-top: 50px;
}

nav.navbar {
  height: 77px;
  background-color: #005cb9;
}
div.jumbotron {
  background-color: #fff;
  padding: 4rem 1rem;
}
div.container {
  width: 100%;
}

div#navbar {
  padding-top: 23px;
}

/* Div for content on the home page. */
div#maintext {
  margin-top: 80px;
  margin-right:auto;
  margin-left: auto;
  width: 800px;
  font-family: 'Lato', sans-serif;
}

div#maintext-content {
  padding-top: 25px;
}

div#tei {
  padding-top: 2rem;
  width: 82%;
}
div#toc {
  font-size:larger;
  margin-left: 1em;
  text-indent: -1em;
}

div#toc tei-head {
  font-size: larger;
  font-weight: bold;
}

.btn {
  border-color: silver;
}

/*  Make anchor text display after nav bar. */
:target::before {
  content: "";
  display: block;
  height: 77px; /* fixed header height*/
  margin: -77px 0 0; /* negative fixed header height */
}

/*****************
Typography for home page.
******************/

#maintext h1 {
  font-size: 3rem;
  line-height: 3.6rem;
  color: #A33701;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-align: center;
}

#maintext h2 {
  font-style: italic;
  font-weight: 100;
  text-align: center;
  font-size: 1.8rem;
  color: #b7b7b7;
  line-height: 3.4rem;
  font-family: "Lato", sans-serif;
}

#maintext h3 {
  font-size: 1.5rem;
  margin-top: 40px;
  line-height: 2.4rem;
  color: #005cb9;
  font-family: "Lato", sans-serif;
}

#maintext p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

#maintext img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#maintext em {
  font-style: italic;
}

#maintext strong {
  font-weight: 700;
}

#maintext ul {
  list-style:square;
  list-style-position:inside;
}

#maintext ul li {
  margin-bottom: 24px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  font-family: "Lato", sans-serif;
}

#maintext .links-container {
  margin-left: auto;
  margin-right: auto;
}

#maintext ul.splash-links {
  list-style-type: none;
}

#maintext ul li.splash-links {
  display:inline;
}
